#navbar{
    display:grid;
    min-height:100px;
    grid-auto-flow: column;
   position: fixed;
   top:1px;
  background-color: black;
    border-radius: 10px;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right:20px;
    overflow: hidden;
    opacity: 0.9;
    width:95%;
    margin-bottom: 500px;
    margin-top: 50px;
   p{
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 60px;

   }
     } 
    #logo{
        display: grid;
        justify-content: start;
        align-content: center;
        font-size: 25px;
        
}
   
#links{
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    font-size:25px;
    grid-gap: 30px;
    font-family: 'Oswald', sans-serif;
    
    
}



a {
    text-decoration: none;
    color: white;
    
}